USE [POMS_DB]
GO
/****** Object:  UserDefinedFunction [dbo].[F_Get_POMS_OrderDetail_AccessLog_By_OrderID]    Script Date: 4/19/2024 9:46:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- select * from [POMS_DB].[dbo].[F_Get_POMS_OrderDetail_AccessLog_By_OrderID] (3251652,'ABDULLAH.ARSHAD','METRO-USER',1,13,147100)
-- =============================================
CREATE FUNCTION [dbo].[F_Get_POMS_OrderDetail_AccessLog_By_OrderID]
(	
	@ORDER_ID int
	,@UserName nvarchar(150)
	,@UserType_MTV_CODE nvarchar(20)
	,@IsPublic bit
	,@TimeZone_ID int
	,@GetRecordType_MTV_ID int
)
RETURNS @ReturnTable table
([OrderID] int
, [UserType] nvarchar(20)
, [UserTypeName] nvarchar(50)
, [ViewedByUserName] nvarchar(150)
, [ViewedByFullName] nvarchar(250)
, [ViewedByDepartment] nvarchar(150)
, [ViewedOnDate] datetime
, [Source] nvarchar(50)
, [EndDate] datetime
, [TotalRecords] int
)
AS
begin
	
	Declare @TotalRecords int = 0
	Declare @TimeZoneName nvarchar(50) = null
	Declare @TimeZoneAbbr nvarchar(10) = null
	select @TimeZoneName = tzl.TimeZoneName , @TimeZoneAbbr = TimeZoneAbbreviation from [POMS_DB].[dbo].[T_Time_Zone_List] tzl with (nolock) where tzl.TIMEZONE_ID = @TimeZone_ID

	if @GetRecordType_MTV_ID in (147100)
	begin
		select @TotalRecords = @TotalRecords + count(oal.ORDER_ID) from [POMS_DB].[dbo].[T_Order_Access_Log] oal with (nolock) where oal.[ORDER_ID] = @ORDER_ID
		insert into @ReturnTable ([OrderID] , [UserType] , [UserTypeName] , [ViewedByUserName] , [ViewedByFullName] , [ViewedByDepartment] , [ViewedOnDate] , [Source] , [EndDate] , [TotalRecords])
		SELECT [ORDER_ID] = oal.ORDER_ID
			, [UserType]=oal.UserType_MTV_CODE
			, [UserTypeName]=[POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_CODE] (oal.UserType_MTV_CODE)
			, [ViewedByUserName] = oal.[ViewedBy]
			, [ViewedByFullName] = gfadbu.FullName
			, [ViewedByDepartment] = gfadbu.DeptName
			, [ViewedOnDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[ViewedOn],@TimeZone_ID,null,@TimeZoneName)
			, [Source] = [POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_ID] (oal.ViewSource_MTV_ID)
			, [EndDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[EndDate],@TimeZone_ID,null,@TimeZoneName)
			, TotalRecords = @TotalRecords
		
		from [POMS_DB].[dbo].[T_Order_Access_Log] oal with (nolock)
		outer apply [POMS_DB].[dbo].[F_Get_FullName_And_Dept_By_Username] (oal.[ViewedBy]) gfadbu
		where oal.[ORDER_ID] = @ORDER_ID
	end
	else if @GetRecordType_MTV_ID in (147101,147102)
	begin
		if @GetRecordType_MTV_ID in (147101)
		begin
			select @TotalRecords = @TotalRecords + count(oal.ORDER_ID) from [POMS_DB].[dbo].[T_Order_Access_Log] oal with (nolock) where oal.[ORDER_ID] = @ORDER_ID
			insert into @ReturnTable ([OrderID] , [UserType] , [UserTypeName] , [ViewedByUserName] , [ViewedByFullName] , [ViewedByDepartment] , [ViewedOnDate] , [Source] , [EndDate] , [TotalRecords])
			SELECT [ORDER_ID] = oal.ORDER_ID
				, [UserType]=oal.UserType_MTV_CODE
				, [UserTypeName]=[POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_CODE] (oal.UserType_MTV_CODE)
				, [ViewedByUserName] = oal.[ViewedBy]
				, [ViewedByFullName] = gfadbu.FullName
				, [ViewedByDepartment] = gfadbu.DeptName
				, [ViewedOnDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[ViewedOn],@TimeZone_ID,null,@TimeZoneName)
				, [Source] = [POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_ID] (oal.ViewSource_MTV_ID)
				, [EndDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[EndDate],@TimeZone_ID,null,@TimeZoneName)
				, TotalRecords = @TotalRecords

			from [POMS_DB].[dbo].[T_Order_Access_Log] oal with (nolock)
			outer apply [POMS_DB].[dbo].[F_Get_FullName_And_Dept_By_Username] (oal.[ViewedBy]) gfadbu
			where oal.[ORDER_ID] = @ORDER_ID
		end

		select @TotalRecords = @TotalRecords + count(oal.ORDER_ID) from [POMSArchive_DB].[dbo].[T_Order_Access_Log] oal with (nolock) where oal.[ORDER_ID] = @ORDER_ID
		insert into @ReturnTable ([OrderID] , [UserType] , [UserTypeName] , [ViewedByUserName] , [ViewedByFullName] , [ViewedByDepartment] , [ViewedOnDate] , [Source] , [EndDate] , [TotalRecords])
		SELECT [ORDER_ID] = oal.ORDER_ID
			, [UserType]=oal.UserType_MTV_CODE
			, [UserTypeName]=[POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_CODE] (oal.UserType_MTV_CODE)
			, [ViewedByUserName] = oal.[ViewedBy]
			, [ViewedByFullName] = gfadbu.FullName
			, [ViewedByDepartment] = gfadbu.DeptName
			, [ViewedOnDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[ViewedOn],@TimeZone_ID,null,@TimeZoneName)
			, [Source] = [POMS_DB].[dbo].[F_Get_MasterTypeValue_From_MTV_ID] (oal.ViewSource_MTV_ID)
			, [EndDate] = [POMS_DB].[dbo].[F_Get_DateTime_From_UTC] (oal.[EndDate],@TimeZone_ID,null,@TimeZoneName)
			, TotalRecords = @TotalRecords

		from [POMSArchive_DB].[dbo].[T_Order_Access_Log] oal with (nolock)
		outer apply [POMS_DB].[dbo].[F_Get_FullName_And_Dept_By_Username] (oal.[ViewedBy]) gfadbu
		where oal.[ORDER_ID] = @ORDER_ID
	end

	return
	

end
GO
