
EBook/.vs/EBook/FileContentIndex/4ff00de2-0478-45b9-909f-4bf3db8dc9a8.vsidx
*.vsidx
*.vsidx
EBook/.vs/EBook/FileContentIndex/4ff00de2-0478-45b9-909f-4bf3db8dc9a8.vsidx
EBook/.vs/EBook/v17/.suo
*.json
*.dll
*.vsidx
EBook/.vs/EBook/FileContentIndex/4ff00de2-0478-45b9-909f-4bf3db8dc9a8.vsidx
EBook/EBook_App/obj/Debug/net8.0/EBook_App.assets.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.AssemblyInfoInputs.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.AssemblyInfo.cs
EBook/EBook_App/obj/Debug/net8.0/apphost.exe
EBook/EBook_App/obj/Debug/net8.0/EBook_App.csproj.AssemblyReference.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.csproj.CoreCompileInputs.cache
EBook/EBook_App/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EBook/EBook_App/obj/Debug/net8.0/EBook_App.csproj.FileListAbsolute.txt
EBook/EBook_App/obj/Debug/net8.0/EBook_App.csproj.FileListAbsolute.txt
EBook/EBook_App/EBook_App.csproj
EBook/EBook_App/obj/Debug/net8.0/EBook_App.csproj.Up2Date
EBook/EBook_App/obj/Debug/net8.0/EBook_App.genruntimeconfig.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.GeneratedMSBuildEditorConfig.editorconfig
EBook/EBook_App/obj/Debug/net8.0/EBook_App.GlobalUsings.g.cs
EBook/EBook_App/obj/Debug/net8.0/EBook_App.MvcApplicationPartsAssemblyInfo.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.pdb
EBook/EBook_App/obj/Debug/net8.0/EBook_App.RazorAssemblyInfo.cache
EBook/EBook_App/obj/Debug/net8.0/EBook_App.MvcApplicationPartsAssemblyInfo.cs
EBook/EBook_App/obj/Debug/net8.0/project.razor.vs.bin
EBook/EBook_App/obj/Debug/net8.0/EBook_App.RazorAssemblyInfo.cs
EBook/EBook_App/obj/Debug/net8.0/scopedcss/projectbundle/EBook_App.bundle.scp.css
EBook/EBook_App/obj/Debug/net8.0/scopedcss/bundle/EBook_App.styles.css
EBook/EBook_App/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
EBook/EBook_App/obj/Debug/net8.0/staticwebassets/msbuild.build.EBook_App.props
EBook/EBook_App/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EBook_App.props
EBook/EBook_App/EBook_App.csproj
EBook/EBook_App/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EBook_App.props
EBook/EBook_App/obj/Debug/net8.0/staticwebassets/msbuild.EBook_App.Microsoft.AspNetCore.StaticWebAssets.props
EBook/EBook_App/obj/EBook_App.csproj.nuget.g.props
EBook/EBook_Data/bin/Debug/net8.0/EBook_Data.pdb
EBook/EBook_Data/EBook_Data.csproj
*.cache
EBook/EBook_Data/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.AssemblyInfo.cs
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.GeneratedMSBuildEditorConfig.editorconfig
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.csproj.Up2Date
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.csproj.FileListAbsolute.txt
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.GlobalUsings.g.cs
EBook/EBook_Data/obj/Debug/net8.0/EBook_Data.pdb
EBook/EBook_Data/obj/EBook_Data.csproj.nuget.g.props
EBook/EBook_Data/obj/EBook_Data.csproj.nuget.g.targets
EBook/EBook_Models/bin/Debug/net8.0/EBook_Models.pdb
EBook/EBook_Models/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EBook/EBook_Models/obj/Debug/net8.0/EBook_Models.AssemblyInfo.cs
EBook/EBook_Models/obj/Debug/net8.0/EBook_Models.GeneratedMSBuildEditorConfig.editorconfig
EBook/EBook_Models/obj/Debug/net8.0/EBook_Models.GlobalUsings.g.cs
EBook/EBook_Models/obj/Debug/net8.0/EBook_Models.pdb
EBook/EBook_Models/obj/EBook_Models.csproj.nuget.g.props
EBook/EBook_Models/obj/Debug/net8.0/EBook_Models.csproj.FileListAbsolute.txt
EBook/EBook_Data/bin/Debug/net8.0/EBook_Models.pdb
EBook/EBook_App/obj/EBook_App.csproj.nuget.g.targets
EBook/.vs/EBook/v17/.suo
EBook/EBook_App/bin/Debug/net8.0/EBook_App.exe
EBook/EBook_App/bin/Debug/net8.0/EBook_App.pdb
EBook/EBook_App/bin/Debug/net8.0/EBook_Data.pdb
EBook/EBook_App/bin/Debug/net8.0/EBook_Models.pdb
EBook/EBook_App/bin/Debug/net8.0/EBook_Services.pdb
EBook/EBook_Models/obj/EBook_Models.csproj.nuget.g.targets
EBook/EBook_Services/bin/Debug/net8.0/EBook_Data.pdb
EBook/EBook_Services/bin/Debug/net8.0/EBook_Models.pdb
EBook/EBook_Services/bin/Debug/net8.0/EBook_Services.pdb
EBook/EBook_Services/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
EBook/EBook_Services/obj/Debug/net8.0/EBook_Se.8B6E2012.Up2Date
EBook/EBook_Services/obj/Debug/net8.0/EBook_Services.AssemblyInfo.cs
EBook/EBook_Services/obj/Debug/net8.0/EBook_Services.GeneratedMSBuildEditorConfig.editorconfig
EBook/EBook_Services/obj/Debug/net8.0/EBook_Services.csproj.FileListAbsolute.txt
EBook/EBook_Services/obj/Debug/net8.0/EBook_Services.GlobalUsings.g.cs
EBook/EBook_Services/obj/Debug/net8.0/EBook_Services.pdb
EBook/EBook_Services/obj/EBook_Services.csproj.nuget.g.props
EBook/EBook_Services/obj/EBook_Services.csproj.nuget.g.targets
