USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Address_List]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Address_List](
	[TimeStamp] [timestamp] NOT NULL,
	[ADDRESS_ID] [int] NOT NULL,
	[ADDRESS_CODE] [nvarchar](20) NOT NULL,
	[ST_CODE] [nvarchar](20) NULL,
	[ServiceType_MTV_ID] [int] NULL,
	[IsResidentialAddress] [bit] NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](250) NOT NULL,
	[ContactPerson] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Address2] [nvarchar](250) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](5) NOT NULL,
	[ZipCode] [nvarchar](10) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[CountryRegionCode] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Mobile] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PhoneExt] [nvarchar](10) NOT NULL,
	[Latitude] [nvarchar](30) NOT NULL,
	[Longitude] [nvarchar](30) NOT NULL,
	[PlaceID] [nvarchar](max) NOT NULL,
	[AddressType_MTV_ID] [int] NOT NULL,
	[AddressStatus_MTV_ID] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Address_List] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Address_List] ADD  CONSTRAINT [DF_T_Address_List_Status_MTV_ID]  DEFAULT ((140100)) FOR [AddressStatus_MTV_ID]
GO
ALTER TABLE [dbo].[T_Address_List] ADD  CONSTRAINT [DF_T_Address_List_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Address_List] ADD  CONSTRAINT [DF_T_Address_List_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
