USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Import_Order_File_Source_Setup]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Import_Order_File_Source_Setup](
	[TimeStamp] [timestamp] NOT NULL,
	[IOFSS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SELLER_KEY] [nvarchar](36) NOT NULL,
	[FileSource_MTV_CODE] [nvarchar](20) NOT NULL,
	[OrderSubSource_MTV_CODE] [nvarchar](20) NOT NULL,
	[Code_MTV_CODE] [nvarchar](20) NOT NULL,
	[CODE2] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[REFNO1] [nvarchar](1000) NOT NULL,
	[REFNO2] [nvarchar](1000) NULL,
	[REFNO3] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_ImportOrder_FileSource_Setup] PRIMARY KEY CLUSTERED 
(
	[IOFSS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Import_Order_File_Source_Setup] ADD  CONSTRAINT [DF_T_Import_Order_File_Source_Setup_CODE2]  DEFAULT ('') FOR [CODE2]
GO
ALTER TABLE [dbo].[T_Import_Order_File_Source_Setup] ADD  CONSTRAINT [DF_T_ImportOrder_FileSource_Setup_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Import_Order_File_Source_Setup] ADD  CONSTRAINT [DF_T_ImportOrder_FileSource_Setup_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
