USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Invoice_Order_Mapping]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Invoice_Order_Mapping](
	[TimeStamp] [timestamp] NOT NULL,
	[IOM_ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](40) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Invoice_Order_Mapping] PRIMARY KEY CLUSTERED 
(
	[IOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Invoice_Order_Mapping] ADD  CONSTRAINT [DF_T_Invoice_Order_Mapping_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Invoice_Order_Mapping] ADD  CONSTRAINT [DF_T_Invoice_Order_Mapping_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
