USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Zip_Code_Cities_List]    Script Date: 4/19/2024 9:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Zip_Code_Cities_List](
	[TimeStamp] [timestamp] NOT NULL,
	[ZCCL_ID] [int] IDENTITY(1,1) NOT NULL,
	[ZIP_CODE] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[County] [nvarchar](50) NOT NULL,
	[CountryRegionCode] [nvarchar](10) NOT NULL,
	[Latitude] [nvarchar](30) NOT NULL,
	[Longitude] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Zip_Code_Cities_List] PRIMARY KEY CLUSTERED 
(
	[ZCCL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Zip_Code_Cities_List] ADD  CONSTRAINT [DF_T_Zip_Code_Cities_List_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Zip_Code_Cities_List] ADD  CONSTRAINT [DF_T_Zip_Code_Cities_List_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[T_Zip_Code_Cities_List]  WITH CHECK ADD  CONSTRAINT [FK_T_Zip_Code_Cities_List_T_Zip_Code_List] FOREIGN KEY([ZIP_CODE])
REFERENCES [dbo].[T_Zip_Code_List] ([ZIP_CODE])
GO
ALTER TABLE [dbo].[T_Zip_Code_Cities_List] CHECK CONSTRAINT [FK_T_Zip_Code_Cities_List_T_Zip_Code_List]
GO
