USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Order_Detail_Grid_List]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Order_Detail_Grid_List](
	[TimeStamp] [timestamp] NOT NULL,
	[ODGL_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsExpand] [bit] NOT NULL,
	[Sort_] [int] NOT NULL,
	[PR_ID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Order_Detail_Grid_List] PRIMARY KEY CLUSTERED 
(
	[ODGL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List] ADD  CONSTRAINT [DF_T_Order_Detail_Grid_List_IsExpand]  DEFAULT ((1)) FOR [IsExpand]
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List] ADD  CONSTRAINT [DF_T_Order_Detail_Grid_List_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List] ADD  CONSTRAINT [DF_T_Order_Detail_Grid_List_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List]  WITH CHECK ADD  CONSTRAINT [FK_T_Order_Detail_Grid_List_T_Order_Detail_Grid_List] FOREIGN KEY([ODGL_ID])
REFERENCES [dbo].[T_Order_Detail_Grid_List] ([ODGL_ID])
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List] CHECK CONSTRAINT [FK_T_Order_Detail_Grid_List_T_Order_Detail_Grid_List]
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List]  WITH CHECK ADD  CONSTRAINT [FK_T_Order_Detail_Grid_List_T_Page_Rights] FOREIGN KEY([PR_ID])
REFERENCES [dbo].[T_Page_Rights] ([PR_ID])
GO
ALTER TABLE [dbo].[T_Order_Detail_Grid_List] CHECK CONSTRAINT [FK_T_Order_Detail_Grid_List_T_Page_Rights]
GO
