USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Order_Item_Scans_Damage]    Script Date: 4/19/2024 9:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Order_Item_Scans_Damage](
	[TimeStamp] [timestamp] NOT NULL,
	[OISD_ID] [int] IDENTITY(1,1) NOT NULL,
	[OIS_ID] [int] NOT NULL,
	[Damage_MTV_CODE] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Order_Item_Scans_Damage] PRIMARY KEY CLUSTERED 
(
	[OISD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Order_Item_Scans_Damage] ADD  CONSTRAINT [DF_T_Order_Item_Scans_Damage_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Order_Item_Scans_Damage] ADD  CONSTRAINT [DF_T_Order_Item_Scans_Damage_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[T_Order_Item_Scans_Damage]  WITH CHECK ADD  CONSTRAINT [FK_T_Order_Item_Scans_Damage_T_Order_Item_Scans] FOREIGN KEY([OIS_ID])
REFERENCES [dbo].[T_Order_Item_Scans] ([OIS_ID])
GO
ALTER TABLE [dbo].[T_Order_Item_Scans_Damage] CHECK CONSTRAINT [FK_T_Order_Item_Scans_Damage_T_Order_Item_Scans]
GO
