USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Application_Builds]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Application_Builds](
	[TimeStamp] [timestamp] NOT NULL,
	[AB_ID] [int] NOT NULL,
	[BUILDCODE] [nvarchar](50) NOT NULL,
	[BuildName] [nvarchar](250) NOT NULL,
	[Application_MTV_ID] [int] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[Status_MTV_CODE] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_Application_Builds] PRIMARY KEY CLUSTERED 
(
	[AB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Application_Builds] ADD  CONSTRAINT [DF_T_Application_Builds_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Application_Builds] ADD  CONSTRAINT [DF_T_Application_Builds_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
