USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_User_Application_Access]    Script Date: 4/19/2024 9:47:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_User_Application_Access](
	[TimeStamp] [timestamp] NOT NULL,
	[UAA_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](150) NOT NULL,
	[Application_MTV_ID] [int] NOT NULL,
	[NAV_USERNAME] [nvarchar](150) NULL,
	[LastLoginDateTime] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
 CONSTRAINT [PK_T_User_Application_Access] PRIMARY KEY CLUSTERED 
(
	[UAA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_User_Application_Access] ADD  CONSTRAINT [DF_T_User_Application_Access_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_User_Application_Access] ADD  CONSTRAINT [DF_T_User_Application_Access_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
