USE [POMS_DB]
GO
/****** Object:  Table [dbo].[T_Chat_Room]    Script Date: 4/19/2024 9:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Chat_Room](
	[TimeStamp] [timestamp] NOT NULL,
	[CR_ID] [int] IDENTITY(1,1) NOT NULL,
	[Room_Name] [nvarchar](150) NOT NULL,
	[Room_Type_MTV_CODE] [nvarchar](20) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nvarchar](150) NOT NULL,
	[AddedOn] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Chat_Room] ADD  CONSTRAINT [DF_T_Chat_Room_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[T_Chat_Room] ADD  CONSTRAINT [DF_T_Chat_Room_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[T_Chat_Room] ADD  CONSTRAINT [DF_T_Chat_Room_AddedOn]  DEFAULT (getutcdate()) FOR [AddedOn]
GO
